services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - N8N_SECURE_COOKIE=false
    volumes:
      - {{ nebula_base_path }}/n8n/data:/home/node/.n8n
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`flows.{{ active_domain }}`)
      - traefik.http.routers.n8n.entrypoints=web
      - traefik.http.services.n8n.loadbalancer.server.port=5678
networks:
  proxy:
    external: true