services:
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8091:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD={{ mongodb_root_password }}
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME={{ mongo_express_user }}
      - ME_CONFIG_BASICAUTH_PASSWORD={{ mongo_express_password }}
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.mongo-express.rule=Host(`mongo.{{ active_domain }}`)
      - traefik.http.routers.mongo-express.entrypoints=web
      - traefik.http.services.mongo-express.loadbalancer.server.port=8081

networks:
  proxy:
    external: true