services:
  collabora:
    image: collabora/code:latest
    container_name: collabora
    restart: unless-stopped
    environment:
      # Permite a Nextcloud conectarse a este motor. Cambia "nube" si tu subdominio de Nextcloud es otro.
      - aliasgroup1=http://nube.{{ active_domain }}
      - extra_params=--o:ssl.enable=false --o:ssl.termination=true
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.collabora.rule=Host(`office.{{ active_domain }}`)
      - traefik.http.routers.collabora.entrypoints=web
      - traefik.http.services.collabora.loadbalancer.server.port=9980

networks:
  proxy:
    external: true