services:
  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    restart: unless-stopped
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.excalidraw.rule=Host(`draw.{{ active_domain }}`)
      - traefik.http.routers.excalidraw.entrypoints=web
      - traefik.http.services.excalidraw.loadbalancer.server.port=80

networks:
  proxy:
    external: true