services:
  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: unless-stopped
    ports:
      - "8092:5540"
    environment:
      - RI_ACCEPT_TERMS_AND_CONDITIONS=true
      - RI_REDIS_HOST0=redis
      - RI_REDIS_PORT0=6379
      - RI_REDIS_ALIAS0=Nebula Corvi - Redis
      - RI_REDIS_PASSWORD0={{ redis_password }}
    volumes:
      - {{ nebula_base_path }}/redisinsight/data:/data
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.redisinsight.rule=Host(`redis.{{ active_domain }}`)
      - traefik.http.routers.redisinsight.entrypoints=web
      - traefik.http.services.redisinsight.loadbalancer.server.port=5540
      - traefik.http.routers.redisinsight.middlewares=panel-auth@docker
networks:
  proxy:
    external: true