---
- La Forja de Onix:
    - Dev.to:
        - abbr: DV
          href: https://dev.to/technomantus_corvi
    - GitHub:
        - abbr: GH
          href: https://github.com/Forja-de-Onix/
    - Ollama:
        - abbr: OL
          href: https://ollama.com/technomantuscorvi
    - Huggin Face:
        - abbr: HF
          href: https://huggingface.co/Forja-de-Onix
    - SourceForge:
        - abbr: SF
          href: https://sourceforge.net/u/technomantcorvi/profile/