---
- Infraestructura:
    - Traefik:
        icon: traefik.svg
        href: http://traefik.{{ active_domain }}/dashboard/
        description: Reverse Proxy
    - Portainer:
        icon: portainer.svg
        href: http://panel.{{ active_domain }}
        description: Docker Management
    - Kopia:
        icon: kopia.svg
        href: http://backup.{{ active_domain }}
        description: Backups
    - technitium:
        icon: technitium.svg
        href: http://dns.{{ active_domain }}
        description: DNS Proxy


- Nube y Datos:
    - Nextcloud:
        icon: nextcloud.svg
        href: http://nube.{{ active_domain }}
        description: Almacenamiento y Sync
    - MinIO:
        icon: minio.svg
        href: http://minio.{{ active_domain }}
        description: Object Storage (S3)
    - Vaultwarden:
        icon: vaultwarden.svg
        href: http://vault.{{ active_domain }}
        description: Gestor de contraseñas

- Desarrollo e IA:
    - Gitea:
        icon: gitea.svg
        href: http://git.{{ active_domain }}
        description: Control de versiones
    - Librechat:
        icon: ollama.svg
        href: http://ia.{{ active_domain }}
        description: Asistente IA (Open WebUI)
    - JupyterLab:
        icon: jupyter.svg
        href: http://notebook.{{ active_domain }}
        description: Ciencia de datos
    - Code Server:
        icon: vscode.svg
        href: http://code.{{ active_domain }}
        description: Desarrollo de software
    - TTYD:
        icon: mdi-console
        href: http://console.{{ active_domain }}
        description: Terminal del servidor
    - Excalidraw:
        icon: excalidraw.svg
        href: http://design.{{ active_domain }}
        description: Diseño y prototipado

- Bases de Datos:
    - pgAdmin:
        icon: postgresql.svg
        href: http://postgres.{{ active_domain }}
        description: Postgres Management
    - Mongo Express:
        icon: mongodb.svg
        href: http://mongo.{{ active_domain }}
        description: MongoDB Management
    - RedisInsight:
        icon: redis.svg
        href: http://redis.{{ active_domain }}
        description: Redis Management

- Operaciones y Monitorización:
    - Prometheus:
        icon: prometheus.svg
        href: http://prometheus.{{ active_domain }}
        description: Motor de recolección y base de datos temporal
    - Grafana:
        icon: grafana.svg
        href: http://grafana.{{ active_domain }}
        description: Visualización avanzada y cuadros de mando
    - Uptime Kuma:
        icon: uptime-kuma.svg
        href: http://status.{{ active_domain }}
        description: Estado de servicios
    - Umami:
        icon: umami.svg
        href: http://umami.{{ active_domain }}
        description: Analíticas de uso
    - n8n:
        icon: n8n.svg
        href: http://flows.{{ active_domain }}
        description: Automatización de flujos
    - Poste Webmail:
        icon: mdi-email
        href: http://correo.{{ active_domain }}
        description: Panel de Poste.io