title: Nebula Corvi
description: Tu nube personal
theme: dark
color: fuchsia

background:
  image: /images/fondo.png
  blur: none        
  saturate: 50    
  brightness: 50  
  opacity: 50     

favicon: /images/favicon.ico

widgets:
  - resources:
      cpu: true
      memory: true
      disk: /

search:
  provider: google
  target: _blank