title: Nebula Corvi
description: Tu nube personal
language: en
theme: dark
color: fuchsia

logo:
  icon: /images/logo.png
  link: http://inicio.localhost

background:
  image: /images/fondo.png
  blur: none        
  saturate: 50    
  brightness: 50  
  opacity: 50     

favicon: /images/favicon.ico
