services:
  umami:
    image: ghcr.io/umami-software/umami:postgresql-latest
    container_name: umami
    restart: unless-stopped
    ports:
      - "3006:3000"
    environment:
      - DATABASE_URL=postgresql://umami_user:{{ umami_db_password }}@postgres:5432/umami
      - DATABASE_TYPE=postgresql
      - APP_SECRET={{ umami_app_secret }}
    networks: [proxy]
    labels:
      - traefik.enable=true
      - traefik.http.routers.umami.rule=Host(`analiticas.{{ active_domain }}`)
      - traefik.http.routers.umami.entrypoints=web
      - traefik.http.services.umami.loadbalancer.server.port=3000

networks:
  proxy:
    external: true